/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) and (max-width: 1024.98px) {
  /*==== Init Part 1 header ====*/
  header #header-part-1 {
    background-color: rgb(1, 21, 38);
    color: white;
    height: 10px;
  }
  header #header-part-1 .info {
    display: none;
  }
  header #header-part-1 ul {
    margin-top: 10px;
  }
  header #header-part-1 ul li {
    list-style: none;
    float: right;
    right: 10px;
    padding: 2px;
    border-radius: 30%;
  }
  header #header-part-1 ul li .fa-arrow-circle-o-right {
    margin-top: 4px;
    position: absolute;
    right: -3.8px;
  }
  header #header-part-1 ul li a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  header #header-part-1 ul .register {
    display: none;
  }
  header #header-part-1 ul .register:hover {
    color: #0056b3;
  }
  header #header-part-1 ul .loginIn {
    display: none;
  }
  header #header-part-1 ul .loginIn:hover {
    color: #0056b3;
  }

  /*==== Init Parte 2 header ====*/
  header #header-part-2 {
    background: rgb(1, 35, 64);
    height: 50px;
  }
  header #header-part-2 #menu-mobile.menu-open {
    background: #012340;
    position: fixed;
    top: -1px;
    height: 100%;
    width: 100%;
    z-index: 20;
    transition: 1s
  }
  header #header-part-2 #menu-mobile.close {
    top: -5002px;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #012340;
    z-index: 20;
    transition: 0.5s;
  }
  header #header-part-2 #menu-mobile.menu-open #bars-open i {
    color: white;
    font-size: 2.4em;
    margin-top: 6px;
    z-index: 20;
    padding: 2px;
  }
  header #header-part-2 #menu-mobile.menu-open ul{
    border-top: 1px solid #F20505;
    padding-top: 18px;
    margin-left: -16px;
  }
  header #header-part-2 #menu-mobile.menu-open ul li {
    padding: 20px;
    width: 84%;
    text-align: center;
    list-style: none;
  }
  header #header-part-2 #menu-mobile.menu-open ul li a {
    color: white;
    font-size: 1.2em;
    margin-top: 6px;
  }
  header #header-part-2 #menu-mobile.menu-open .separator {
    height: 28px;
    background-color: #011526;
    width: 100%;
    margin-left: -20px;
    margin-top: 24px;
  }


  /*==== Init Logotipo ====*/
  #header-part-2 #logotipo {
    display: none;
  }
  header #header-part-2 #menu-mobile.menu-open ul #logotipo-menu {
    color: white;
    margin-left: 91px;
  }
  header #header-part-2 #menu-mobile.menu-open ul #logotipo-menu i {
    font-size: 1.5em;
    margin-top: 15px;
  }
  header #header-part-2 #menu-mobile.menu-open ul #logotipo-menu span {
    font-size: 1.6em;
  }

  /*==== Init Menu ====*/
  #header-part-2 #menu {
    display: none;
  }
  #header-part-2 #bars i {
    color: white;
    font-size: 2.1em;
    margin-top: 7px;
    z-index: 20;
  }

  #header-part-2 #loginIn {
    position: absolute;
    right: -223px;
    top: 14px;
    cursor: pointer;
    z-index: 10;
  }
  #header-part-2 #loginIn a {
    font-size: 1.1em;
    color: white;
  }

  /*=========================================== Area Section ========================================================*/
  /*==== Init parte 1 section ====*/
  section #section-part-1 #banner-1 {
    display: none;
  }
  section #section-part-1 #banner-2 {
    display: none;
  }
  section #section-part-1 #banner-mobile-1 {
    background-image: url("../img/banner/buildings.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
  }
  section #section-part-1 #banner-mobile-1 .box-banner-mobile {
    width: 100%;
    height: 236px;
    padding: 4px;
    margin: 16px auto;
    background-color: rgba(0, 0, 0, .1);
  }
  section #section-part-1 #banner-mobile-1 .box-banner-mobile .item {
    text-align: center;
    margin-top: 44px;
  }
  section #section-part-1 #banner-mobile-1 .box-banner-mobile .item button {
    background-color: #F29F05;
  }

  /*==== Init parte 2 section ====*/
  section #section-part-2 .box-texto h1 {
    margin-top: 36px;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }
  section #section-part-2 .box-texto p {
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
  }
  section #section-part-2 .box-texto p a {
    color: #012340;
  }
  section #section-part-2 .box-texto {
    padding: 10px;
  }
  section #section-part-2 .box-texto img {
    width: 100%;
    height: 100%;
  }

  section #section-part-2 #box-1,
  section #section-part-2 #box-3 {
    display: none;
  }

  /*==== Init parte 3 section ====*/
  section #fixa-mobile {
    background-color: rgb(1, 21, 38);
    height: 40px;
  }
  section #fixa-mobile h1 {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
  }
  section #section-part-3 {
    opacity: 0.9;
    display: block;
    background-color: #000;
    background-image: url("../img/section/dubai-cidade-rodovia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 220px;
  }
  section #section-part-3 .box-text {
    margin-top: 35px;
    color: white;
    text-align: center;
  }
  section #section-part-3 .box-text h1 {
    display: none;
  }
  section #section-part-3 .box-text em {
    font-size: 1.1em;
  }
  section #section-part-3 .box-text p {
    font-size: 0.9em;
    margin-top: 10px;
  }

  /*==== Init Footer part 1 ====*/
  footer #footer-part-1 {
    height: 36px;
    background: #0540F2;
  }
  footer #box-1, footer #box-2 {
    display: none;
  }
  footer #footer-part-1 ul {
    margin: 0 auto;
  }
  footer #footer-part-1 ul li {
    list-style: none;
    float: left;
    padding: 6px 12px;
    font-size: 1.2em;
  }
  footer #footer-part-1 ul li a {
    color: white;
    text-decoration: none;
  }

  /*==== Init Footer part 2 ====*/
  footer #footer-part-2 {
    height: 100%;
    background: #012340;
  }
  footer #footer-part-2 #box-1 {
    display: none;
  }
  footer #footer-part-2 #box-2 {
    text-align: left;
    display: inline;
  }
  footer #footer-part-2 #box-2 h1 {
    font-size: 1.2em;
    color: white;
    padding: 28px 0 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  footer #footer-part-2 #box-2 ul {
    padding-left: 56px;
  }
  footer #footer-part-2 #box-2 ul li {
    list-style: none;
  }
  footer #footer-part-2 #box-2 ul li a {
    color: white;
  }
  footer #footer-part-2 #box-2 ul li a i {
    position: absolute;
    left: 50px;
    margin-top: 5px;
  }

  footer #footer-part-2 #box-3 {
    margin-top: 20px;
  }
  footer #footer-part-2 #box-3 h1 {
    font-size: 2em;
    color: white;
    padding: 14px 0 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  footer #footer-part-2 #box-3 #newsletter {
    padding: 20px;
  }
  footer #footer-part-2 #box-3 #newsletter p {
    text-align: center;
    font-weight: 600;
    padding: 0 0 8px 0;
  }
  footer #footer-part-2 #box-3 #newsletter .form-group {
    padding: 0 0 14px 0;
  }
  footer #footer-part-2 #box-3 #newsletter button {
    width: 100%;
    background-color: #0540F2;
    color: white;
  }
  footer #footer-part-2 #box-3 hr {
    background-color: #F20505;
    width: 200px;
  }
  /*==== Init Footer part 3 ====*/
  footer #footer-part-3 {
    height: 100%;
    background: #011526;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.9em;
  }
 }
