* {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /*==== Init Part 1 header ====*/
  header #header-part-1 {
    background-color: rgb(1, 21, 38);
    color: white;
    height: 50px;
  }
  header #header-part-1 .info {
    margin-top: 11px;
    font-size: 14px;
  }
  header #header-part-1 ul {
    margin-top: 10px;
  }
  header #header-part-1 ul li {
    list-style: none;
    float: right;
    right: 10px;
    padding: 2px;
    border-radius: 30%;
  }
  header #header-part-1 ul li .fa-arrow-circle-o-right {
    margin-top: 4px;
    position: absolute;
    right: -3.8px;
  }
  header #header-part-1 ul li a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  header #header-part-1 ul .register {
    position: relative;
    right: -16px;
  }
  header #header-part-1 ul .register:hover {
    color: #0056b3;
  }
  header #header-part-1 ul .loginIn {
    position: relative;
    right: -16px;
  }
  header #header-part-1 ul .loginIn:hover {
    color: #0056b3;
  }

  /*==== Init Parte 2 header ====*/
  header #header-part-2 {
    background: rgb(1, 35, 64);
    height: 90px;
  }

  /*==== Init Logotipo ====*/
  header #logotipo {
    text-transform: uppercase;
    margin-top: 24px;
  }
  header #logotipo a {
    color: white;
    text-decoration: none;
  }

  /*==== Init Menu ====*/
  header #menu ul {
    right: -34px;
    position: absolute;
  }
  header #menu ul li {
    list-style: none;
    float: left;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  header #menu ul li a {
    padding: 0 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  header #menu ul li a:hover {
    position: relative;
    height: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid red;
    transition: 1s;
  }
  header #header-part-2 #bars {
    display: none;
  }

  header #header-part-2 #loginIn {
    display: none;
  }

  /*=========================================== Area Section ========================================================*/
  /*==== Init parte 1 section ====*/
  section #section-part-1 {
    height: 548px;
  }
  section #section-part-1 .box-img-banner{
    height: 200px;
    position: absolute;
    left: 15px;
    z-index: 10;
  }
  section #section-part-1 .box-img-banner .img-banner {
    height: 548px;
    width: 1248px;
  }
  section #section-part-1 .box-img-banner .img-banner.radius-banner,
  section #section-part-1 .box-img-banner.radius-banner{
    border-bottom-right-radius: 567px;
    width: 717px;
    border-bottom: 2px solid #F20505;
    transition: 2s;
  }

  section #section-part-1 .box-propaganda-banner{
    background-color: #E0ECF2;
    height: 548px;
    position: absolute;
    right: 15px;
    width: 1172px;
  }
  section #section-part-1 .box-propaganda-texto {
    position: absolute;
    z-index: 11;
    text-align: right;
    width: 50%;
  }
  section #section-part-1 .box-propaganda-texto.box-propaganda-texto-position {
    margin-top: 160px;
    right: 124px;
    transition: 7s;
  }
  section #section-part-1 .box-propaganda-texto h2 {
    color: black;
    font-size: 3.4em;
    font-weight: bold;
  }
  section #section-part-1 .box-propaganda-texto p {
    color: black;
    font-size: 28px;
    font-weight: 500;
  }

  section #section-part-1 .box-propaganda-texto a.btn-custom-propaganda {
    background: rgb(1, 21, 38);
    color: white;
    width: 100px;
    font-size: 19px;
    font-weight: bolder;
  }
  section #section-part-1 #banner-mobile-1 .box-banner-mobile {
    display: none;
  }

  /*==== Init parte 2 section ====*/
  section #section-part-2 {
    color: black;
    margin-top: 50px;
  }

  section #section-part-2 .box-texto {
    color: black;
    padding: 10px;
    margin-top: 30px;
    text-align: justify;
  }
  section #section-part-2 .box-texto h1 {
    font-size: 3em;
    font-weight: bold;
  }
  section #section-part-2 .box-texto p {
    font-size: 1em;
  }
  section #section-part-2 .box-texto a {
    color: #012340;
    font-size: 1.2em;
  }

  section #section-part-2 .box-img {
    padding: 10px;
  }
  section #section-part-2 .box-img img {
    width: 100%;
    height: 100%;
  }
  section #section-part-2 #box-2 {
    display: none;
  }

   /*==== Init parte 3 section ====*/
   section #section-part-3 {
    background-image: url('../img/section/dubai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    margin-top: 40px;
    height: 370px;
  }

  section #section-part-3 .box-text {
    text-align: center;
    padding-top: 95px;
  }
  section #section-part-3 .box-text p {
    padding: 10px 150px;
  }
}

.hidden {
  display: none;
}
footer {
  margin-top: 40px;
  height: 50px;
  background: rgb(1, 21, 38);
}
